
body{
    background-image: url('../assets/images/backgrounds/bck-contacto_opt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
}

form {
    padding: 20px;
    width: 700px;
    margin: 0 auto;
    background-color: rgba(57, 12, 75, 0.438);
    /* color: white; */
}

.form-floating {
    position: relative;
}

.icono {
    position: absolute;
    top: calc(50%);
    left: 1.25rem;
}

.form-floating label, .form-floating .form-control {
    color: black;
    left: .5rem;
    padding-left: 3.5rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
}

.form-floating input:focus {
    background: #534e4e93;
    color: white;
}

.form-floating textarea:focus {
    background: #534e4e93;
    color: white;
}