/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'CaptureIt';
    src: url('../assets/fonts/CaptureIt.ttf');
}

body{
    /* background-image: url('../assets/images/backgrounds/bck-index_opt.jpg'); */
    background-image: url('../assets/images/backgrounds/bak_index_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 15px;
}

.navbar ul li {
    display: inline;
    padding: 10px;
    margin-left: 10px;   
}

.navbar ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 26px;
}

p {
    
    font-size: xx-large;
}

.bienvenida{
    color: white;
    font-size: xx-large;
    display: block;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
    padding: 50px;
}

footer{
    display: inline;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: center;
}

.redes-sociales {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.redes-sociales li {
    display: inline-block;
    margin-right: 10px;
}

.redes-sociales li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    /* background-color: #ccc; */
    text-align: center;
    line-height: 30px;
    /* border-radius: 50%; */
    margin: 15px;
}

/* media queries */
@media screen and (max-width: 480px) {

    body{
        background-image: url(''); /*deshabilito la imagen*/
        background-color: black;  
    }

    .bienvenida {
        font-size: small;
        display: block;
        text-align: center;
    }

    .navbar ul li a{
        font-size: 15px;
    }
    
}

/* pseudoclases */
.navbar li a:hover {
    background-color: rgba(233, 157, 16, 0.603);
    border-radius: 20px;
    transform: scale(1.2);
}

.redes-sociales a:hover {
    transition: 300ms;
    transform: scale(1.5);    
}








